# Series

- pandas에서 사용하는 1차원 배열
- index를 사용할 수 있음

In [1]:
import pandas as pd
import numpy as np

In [5]:
arr = np.arange(100, 110)
print(arr)

[100 101 102 103 104 105 106 107 108 109]

In [6]:
s = pd.Series(arr)
print(s)

0    100
1    101
2    102
3    103
4    104
5    105
6    106
7    107
8    108
9    109
dtype: int64

In [8]:
s = pd.Series(arr, dtype='int32')
print(s)

0    100
1    101
2    102
3    103
4    104
5    105
6    106
7    107
8    108
9    109
dtype: int32

In [9]:
s = pd.Series(arr, dtype='float32')
print(s)

0    100.0
1    101.0
2    102.0
3    103.0
4    104.0
5    105.0
6    106.0
7    107.0
8    108.0
9    109.0
dtype: float32

In [10]:
s = pd.Series(['kim', 'lee', 'park'])
print(s) # pandas 내부에서 str은 object

0     kim
1     lee
2    park
dtype: object

In [12]:
s = pd.Series([1, 2, 3, '1', '2', 'hello'])
print(s) # 포괄적인 데이터타입 - object

0        1
1        2
2        3
3        1
4        2
5    hello
dtype: object

In [13]:
s[5]

'hello'

In [14]:
s[-1] # error: 음수 인덱싱 x

KeyError: -1

In [15]:
s.index

RangeIndex(start=0, stop=6, step=1)

In [17]:
names = pd.Series(['kim', 'lee', 'park'], index=['a', 'b', 'c']) # 인덱스가 숫자가 아니어도 되

In [21]:
names[0]

C:\Users\1-14\AppData\Local\Temp\ipykernel_11728\2706118685.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  names[0]

'kim'

In [22]:
names.iloc[0] # index location

'kim'

In [19]:
names['a']

'kim'

In [20]:
names.index

Index(['a', 'b', 'c'], dtype='object')

In [23]:
names.values

array(['kim', 'lee', 'park'], dtype=object)

In [24]:
names.ndim

1

In [25]:
names.shape

(3,)

## NaN(Nat a Number)

In [27]:
s = pd.Series([1, 2, 3, np.nan])
print(s)

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

## fancy indexing

In [82]:
f = ['banana', 'apple', 'grape', np.nan]
s = pd.Series(f, index=list('abcd'))
print(s)

a    banana
b     apple
c     grape
d       NaN
dtype: object

In [36]:
s[['d', 'a']]

d       NaN
a    banana
dtype: object

In [83]:
s[[3,1]]

C:\Users\1-14\AppData\Local\Temp\ipykernel_11728\2949314138.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[[3,1]]

d      NaN
b    apple
dtype: object

In [84]:
s.iloc[[3, 1]]

d      NaN
b    apple
dtype: object

## bool indexing

In [37]:
s

a    banana
b     apple
c     grape
d       NaN
dtype: object

In [38]:
s[[True, False, True, False]]

a    banana
c     grape
dtype: object

In [40]:
s == 'banana'

a     True
b    False
c    False
d    False
dtype: bool

In [41]:
s[s == 'banana']

a    banana
dtype: object

In [43]:
s = pd.Series([1, 5, 3, 4, 2, 6])
s[s > 3]

1    5
3    4
5    6
dtype: int64

## 결측치(NaN) 처리

In [44]:
s = pd.Series([1, 3, np.nan, 10, 11, np.nan])
print(s)

0     1.0
1     3.0
2     NaN
3    10.0
4    11.0
5     NaN
dtype: float64

In [49]:
s.isnull() # 똑같음
s.isna()

0    False
1    False
2     True
3    False
4    False
5     True
dtype: bool

In [50]:
s[s.isnull()]
s[s.isna()]

2   NaN
5   NaN
dtype: float64

In [51]:
s[s.notnull()]
s[s.notna()]

0     1.0
1     3.0
3    10.0
4    11.0
dtype: float64

## Slicing

In [52]:
s[1:3]

1    3.0
2    NaN
dtype: float64

In [54]:
s = pd.Series([1, 2, 3], index=list('abc'))
print(s[1:2])
print(s['a':'b']) # 글자는 이상 미만이 안됨

b    2
dtype: int64
a    1
b    2
dtype: int64

# DataFrame

- 2차원 데이터 구조 (excel, sheet와 유사)
- 행(row), 열(column) 구조

In [55]:
d = pd.DataFrame([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
])
d

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [56]:
d = pd.DataFrame([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
], columns=['가', '나', '다'])
d

   가  나  다
0  1  2  3
1  4  5  6
2  7  8  9

In [58]:
info = {
    'name': ['kim', 'lee', 'park'],
    'age': [10, 20, 30]
}

In [62]:
info_df = pd.DataFrame(info)
info_df

   name  age
0   kim   10
1   lee   20
2  park   30

In [61]:
info_df.index # 행의 개수

RangeIndex(start=0, stop=3, step=1)

In [63]:
info_df.columns # 열 정보

Index(['name', 'age'], dtype='object')

In [64]:
info_df.values

array([['kim', 10],
       ['lee', 20],
       ['park', 30]], dtype=object)

In [65]:
info_df.dtypes

name    object
age      int64
dtype: object

In [67]:
info_df.T

        0    1     2
name  kim  lee  park
age    10   20    30

## index 지정

In [69]:
info_df.index = list('abc')

In [70]:
info_df

   name  age
a   kim   10
b   lee   20
c  park   30

## column 다루기

In [71]:
info_df.columns

Index(['name', 'age'], dtype='object')

In [73]:
print(info_df['name'])
print(type(info_df['name']))

a     kim
b     lee
c    park
Name: name, dtype: object
<class 'pandas.core.series.Series'>

In [74]:
info_df[['age', 'name']] # column의 fancy indexing

   age  name
a   10   kim
b   20   lee
c   30  park

In [77]:
info_df = info_df.rename(columns={'name': '이름'})

In [78]:
info_df # 원본을 바꾸지느 않음 -> 재할당 필요

     이름  age
a   kim   10
b   lee   20
c  park   30

In [80]:
info_df.rename(columns={'이름': 'last_name'}, inplace=True)

In [81]:
info_df

  last_name  age
a       kim   10
b       lee   20
c      park   30