In [1]:
import pandas as pd
import seaborn as sns

In [3]:
df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

## describe()

In [4]:
df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [5]:
df.describe(include='object')

         sex embarked  who  embark_town alive
count    891      889  891          889   891
unique     2        3    3            3     2
top     male        S  man  Southampton    no
freq     577      644  537          644   549

### count()

In [6]:
df.count()

survived       891
pclass         891
sex            891
age            714
sibsp          891
parch          891
fare           891
embarked       889
class          891
who            891
adult_male     891
deck           203
embark_town    889
alive          891
alone          891
dtype: int64

In [7]:
df['age'].count()

np.int64(714)

### mean()

In [8]:
df['age'].mean()

np.float64(29.69911764705882)

In [9]:
df.mean() # error: 평균을 계산할 수 없는 것도 있어서

TypeError: can only concatenate str (not "int") to str

In [18]:
df.mean(numeric_only=True) # 숫자만 
# df.mean(numeric_only=True, skipna=False) # NaN이 있을 경우 평균계산 안함

survived       0.383838
pclass         2.308642
age           29.699118
sibsp          0.523008
parch          0.381594
fare          32.204208
adult_male     0.602694
alone          0.602694
dtype: float64

In [11]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [12]:
# 성인 남성 요금 평균
cond = df['adult_male'] == True
df.loc[cond, 'fare'].mean()

np.float64(24.864181750465548)

In [15]:
# fare 30 ~ 40 지불 승객 & 1등석 => 나이 평균
cond1 = df['fare'] >= 30
cond2 = df['fare'] <= 40

cond3 = df['pclass'] == 1

df.loc[cond1 & cond2 & cond3, 'age'].mean()

np.float64(44.095238095238095)

## median()

In [23]:
numbers = [1, 2, 10, 11, 100, 1000]
pd.Series(numbers).mean()

np.float64(187.33333333333334)

In [24]:
pd.Series(numbers).median() 
#중앙값: 데이터를 정렬하고 가운데 데이터를 고름
# 이상치가 너무 큰 상황에 사용

np.float64(10.5)

In [25]:
mean_value = df['age'].mean()
median_value = df['age'].median()
print(mean_value)
print(median_value) # 데이터가 크기 때문에 둘이 비슷하게 나옴

29.69911764705882
28.0

## sum()

In [26]:
df.sum(numeric_only=True)

survived        342.0000
pclass         2057.0000
age           21205.1700
sibsp           466.0000
parch           340.0000
fare          28693.9493
adult_male      537.0000
alone           537.0000
dtype: float64

In [27]:
df['fare'].sum()

np.float64(28693.9493)

In [28]:
df['fare'].cumsum() # 누적합

0          7.2500
1         78.5333
2         86.4583
3        139.5583
4        147.6083
          ...
886    28602.7493
887    28632.7493
888    28656.1993
889    28686.1993
890    28693.9493
Name: fare, Length: 891, dtype: float64

In [30]:
df['age'].cumprod() # 누적곱

C:\Users\1-14\Desktop\DAMF2\pandas\venv\Lib\site-packages\numpy\_core\fromnumeric.py:57: RuntimeWarning: overflow encountered in accumulate
  return bound(*args, **kwds)

0            22.0
1           836.0
2         21736.0
3        760760.0
4      26626600.0
          ...
886           inf
887           inf
888           NaN
889           inf
890           inf
Name: age, Length: 891, dtype: float64

## var() 분산

In [34]:
fare_mean = df['fare'].mean()
# fare_mean

total = ((df['fare'] - fare_mean) ** 2).sum() # 시리즈는 스칼라 연산 가능
total_count = df['fare'].count() # 모분산
# total_count = df['fare'].count() - 1 # 표본분산

my_var = total/total_count
print(my_var)

2466.665311685043

In [36]:
df['fare'].var(ddof=0)

np.float64(2466.665311685043)

## std()

In [39]:
import numpy as np
np.sqrt(df['fare'].var())

np.float64(49.6934285971809)

In [41]:
df['fare'].std()

np.float64(49.6934285971809)

## min(), max()

In [42]:
df['age'].min()

np.float64(0.42)

In [43]:
df['age'].max()

np.float64(80.0)

## agg() (aggregation)

In [44]:
df['age'].agg(['max', 'min', 'count', 'mean'])

max       80.000000
min        0.420000
count    714.000000
mean      29.699118
Name: age, dtype: float64

In [48]:
df[['age', 'fare']].agg(['min', 'max'])

       age      fare
min   0.42    0.0000
max  80.00  512.3292

## quantile()

In [49]:
df['age'].quantile(0.1) # 하위 10%

np.float64(14.0)

In [52]:
df['age'].quantile(0.8) # 상위 20%

np.float64(41.0)

In [53]:
df['age'].median()

np.float64(28.0)

In [56]:
df['age'].quantile(0.5) # median과 똑같음

np.float64(28.0)

## unique()

In [58]:
df['who'].unique()

array(['man', 'woman', 'child'], dtype=object)

In [59]:
df['who'].nunique()

3

## mode() *최빈값*

In [60]:
df['who'].mode()

0    man
Name: who, dtype: object

In [62]:
df['deck'].mode()

0    C
Name: deck, dtype: category
Categories (7, object): ['A', 'B', 'C', 'D', 'E', 'F', 'G']

## corr()

- 각 컬럼끼리의 상관관계를 -1 ~ 1 로 표현
- *1과 가까울수록 정비례함, -1과 가까울수록 반비례함*
- *-1이나 1과 가까울수록 상관관계가 높다*

In [64]:
df.corr(numeric_only=True)

,survived,pclass,age,sibsp,parch,fare,adult_male,alone
survived,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307,-0.557080,-0.203367
pclass,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500,0.094035,0.135207
age,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067,0.280328,0.198270
sibsp,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651,-0.253586,-0.584471
parch,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225,-0.349943,-0.583398
fare,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000,-0.182024,-0.271832
adult_male,-0.557080,0.094035,0.280328,-0.253586,-0.349943,-0.182024,1.000000,0.404744
alone,-0.203367,0.135207,0.198270,-0.584471,-0.583398,-0.271832,0.404744,1.000000

In [66]:
df.corr(numeric_only=True)['survived']

survived      1.000000
pclass       -0.338481
age          -0.077221
sibsp        -0.035322
parch         0.081629
fare          0.257307
adult_male   -0.557080
alone        -0.203367
Name: survived, dtype: float64